.iphone-img  {
    z-index: 2;
    position: relative;
 }


.ellipse1{
    position: absolute;
    left: 8rem;
    height: 14rem;
    width: 14rem;
    aspect-ratio: 1/1;
    background-color: #3a643b3d ;
    top: 0
     
}

.ellipse2{
    position: absolute;
    bottom: 0;
    height: 14rem;
    width: 14rem;
    aspect-ratio: 1/1;

    background-color: #3a643b3d;
    left: 21rem;

}
@media screen and (max-width:768px){
   .ellipse1, .ellipse2{
    display: none;
   } 
}

