.swiper {
    width: 100%;
    height: 100%;
    padding:0 0 4rem 0 ;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FFF7E2 ;
   
    display: flex;
    flex-direction: column;
   
    border-radius: 30px;
  }
  .swiper-slide:last-child{
    overflow: hidden;
  }
  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #3A643B;
}

